In [17]:
import numpy as np
import pandas as pd
from IPython.display import display

In [49]:
#!pip3 install xlrd

detail = pd.read_excel('detail.xls.xlsx', sheet_name=4)
display(detail)
sc_map = pd.read_csv("santa_clara_pct_cbg_mappings.csv")
print((len(sc_map.precinct)))
len(sc_map.precinct.unique())

,18th Congressional (Vote For 1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,ANNA G. ESHOO,NaN,NaN,RISHI KUMAR,NaN,NaN,NaN
1,County,Registered Voters,Election Day,Vote By Mail,Total Votes,Election Day,Vote By Mail,Total Votes,Total
2,0002001,9,17,6,23,14,3,17,40
3,0002002,2731,82,1508,1590,42,532,574,2164
4,0002005,1751,37,1040,1077,30,334,364,1441
...,...,...,...,...,...,...,...,...,...
202,0008898,2737,44,1137,1181,43,934,977,2158
203,0008903,3460,46,1372,1418,54,1191,1245,2663
204,0008923,4,0,0,0,0,3,3,3
205,0008924,17,0,7,7,0,6,6,13
206,Total:,332297,7206,149838,157044,6618,91076,97694,254738

864

864

In [52]:
#detail.rename(columns = detail.iloc[1], inplace = True)
#detail.drop(detail.index[[0,1]], inplace=True)
detail.drop(detail.tail(1).index,inplace=True)
display(sc_map)
col_info = detail.iloc[1, :]
display(col_info)

detail.iloc[:,0] = pd.to_numeric(detail.iloc[:,0])

                           cbg  precinct
0                           []      2021
1                           []      2023
2                           []      2027
3                           []      2029
4                           []      2030
..                         ...       ...
859              [60855073022]      4731
860              [60855073022]      5759
861              [60855073022]      6677
862  [60855073022,60855073021]      6676
863              [60855119103]      8902

[864 rows x 2 columns]

County               0002002
Registered Voters       2731
Election Day              82
Vote By Mail            1508
Total Votes             1590
Election Day              42
Vote By Mail             532
Total Votes              574
Total                   2164
Name: 3, dtype: object

In [57]:
#detail
merged_df = pd.merge(detail, sc_map, left_on="County", right_on="precinct")
merged_df.drop("County", axis = 1, inplace = True)
merged_df

,Registered Voters,Election Day,Vote By Mail,Total Votes,Election Day,Vote By Mail,Total Votes,Total,cbg,precinct
0,9,17,6,23,14,3,17,40,[60855117071],2001
1,2731,82,1508,1590,42,532,574,2164,[60855116091],2002
2,1751,37,1040,1077,30,334,364,1441,[60855115003],2005
3,81,1,43,44,1,16,17,61,[60855094012],2006
4,4365,113,2289,2402,94,931,1025,3427,[60855115002],2009
...,...,...,...,...,...,...,...,...,...,...
194,2680,37,1043,1080,58,933,991,2071,"[60855119091,60855119101]",8889
195,2737,44,1137,1181,43,934,977,2158,[60855119113],8898
196,3460,46,1372,1418,54,1191,1245,2663,[60855119091],8903
197,4,0,0,0,0,3,3,3,[],8923
198,17,0,7,7,0,6,6,13,[],8924